body{

	background: rgba(226,226,226,1);
	background: linear-gradient(
		135deg, 
		rgba(226,226,226,1) 0%, 
		rgba(252,252,252,1) 0%, 
		rgba(240,240,240,1) 99%, 
		rgba(254,254,254,1) 100%
		);
	color: rgb(76,106,141);
	font-family: 'Orbitron', sans-serif;
	font-size: 13px;
	font-weight: 400;

}

hr {

	border-bottom: 2px solid rgb(284, 84, 95);
}
.title-logo {

	margin-top: 20px;
}

.title-name {

	font: 40px Monoton, sans-serif;
	color: rgb(284, 84, 95);
}

.title-position {

	font-size: 12px;
}

.featured-text {

	font-weight: 700;
	font-size: 20px;
}

.img-responsive {

    margin: 0 auto;
}

.modal-title {

	color: rgb(284, 84, 95);
}

.project-name{

	font-size: 13px;
}

.modal-description {

	margin-top: 20px;
}

/* Media Queries */

@media screen and (max-width: 480px) {

	.title-logo{

		display: none;
	}

	.title-name,
	.header-title,
	.featured-text {

		text-align: center;
	}

	.project-img {

	max-width: 260px;
	max-height: 206px;
}

}

@media screen and (min-width: 481px) and (max-width: 650px){


	.title-name {

		font-size: 28px;
	}

	.title-position {

		font-size: 12px;
	}

	.project-img {

	max-width: 300px;
	max-height: 238px;
}
}


@media screen and (min-width: 651px) and (max-width: 990px){


	.title-name {

		font-size: 40px;
	}

	.title-position {

		font-size: 15px;
	}

	.project-name {

		font-size: 15px;
	}

}

@media screen and (min-width: 991px){

	.title-name {

		font-size: 60px;
	}

	.title-position {

		font-size: 15px;
	}

	.project-name {

		font-size: 15px;
	}


}